@import 'https://fonts.googleapis.com/css?family=Roboto:400,500';

@page {
  size: 210mm 297mm;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  text-align: justify;
}

html {
  font-family: 'Inter UI', 'DejaVu Sans', Arial, sans-serif;
  font-size: 9pt;
  font-weight: 450;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1C3260;
  padding: 30px;
  display: block;
  grid-template-columns: auto 1fr auto;
  padding-right: 12em;
  align-items: center;
  color: white;
}

header > a {
  color: white;
}

header > .wordmark {
  max-height: 3em;
}

header > .logo {
  position: absolute;
  top: 1em;
  right: 3em;
  max-width: 6em;
}

section.byline {
  width: 100%;
  background-color: #1C4586;
  color: white;
}

section.byline div {
  padding: 40px;
}


h1 {
  font-size: 26pt;
  padding: 0;
  padding-left: 10px;
  font-weight: 400;
}

h2 {
  font-weight: 500;
  color: #4842a5;
  font-size: 1.4em;
  font-weight: 800;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

h4, h5 {
  font-size: 1.1em;
  font-weight: 800
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  color: #4842a5;
  text-decoration: none;
}

ul {
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

li > p {
  margin: 0;
}

p.paragraph {
  margin-top: 2px;
  margin-bottom: 2px;
}

section.content {
  position: relative;
  align-self: center;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sectionbody {
  position: relative;
  margin: 0.5cm;
  width: 20cm;
  align-self: center;
  display: flex;
}

.level1 {
  margin-top: 10px;
}

code, .listingblock {
    background-color: lightgrey;
}

.column {
  position: relative;
  margin: 0;
  padding: 10px;
  width: 10cm;
}

.hide {
  display: none;
}

.sect1 > h2 {
  display: none;
}

.column > h3 {
  display: none;
}

.page {
  page-break-after: always;
}

.page:nth-of-type(1) {
  height: 223mm;
}

.header-nth {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #1C3260;
  display: flex;
  align-items: stretch;
}

.header-nth .sectionbody {
  padding-top: 10px;
}

.header-nth p {
  font-size: 12pt;
  font-weight: 400;
  color: white;
  padding-left: 5px;
  padding-top: 1px;
}


/*
.header-nth .sectionbody::before {
  content:url('github.png');
  display: inline-flex;
  max-inline-size: 60px;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: #1C3260;
}

@media only screen {
  .footer {
    position: relative;
  }
}
*/
